*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    display: flex;
    min-height: 80px;
    background-color: #24252A;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". library right-panel";
}

.library{
    display: grid;
    grid-area: library;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    grid-template-areas: 
    "search search search"
    ". . ."
    ". . .";
}

.search{
    display: flex;
    grid-area: search;
    justify-content: center;
    align-items: center;
}

#book-search{
    height: 35px;
    width: 600px;
    border-radius: 6px;
    border: 1px solid #24252A;
    background-color: white;
    padding-left: 10px;
}

.search button{
    padding: 9px 50px;
    border-radius: 6px;
    margin-left: 14px;
    background-color: #24252A;
    color: white;
    border: 1px solid #41575D;
    font-weight: bold;
}

.search button:hover{
    background-color: #41575D;
}

.right-panel{
    grid-area: right-panel;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-book{
    padding: 9px 50px;
    width: auto;
    text-wrap: nowrap;
    border-radius: 6px;
    background-color: #24252A;
    color: white;
    border: 1px solid #41575D;
    font-weight: bold;
}

#add-book:hover{
    background-color: #41575D;
}

.modal{
    margin: auto;
    height: 250px;
    width: 250px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #d1d1d1;
    border-style: none;
}

.modal form{
    display: flex;
    flex-direction: column;
}

.book{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-top: 10px solid #24252A;
    border-bottom: 10px solid #24252A;
    height: 400px;
    width: 250px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 14px #d1d1d1;
}

.delete{
    padding: 9px 50px;
    width: auto;
    border-radius: 6px;
    background-color: #24252A;
    color: white;
    border: 1px solid #41575D;
    font-weight: bold;
}

.delete:hover{
    background-color: #5d4141;
}